.bannerWrapper {
  position: relative;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .heroContentWrapper {
    position: absolute;
    color: $primary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header {
    text-align: center;
  }
  p {
    text-align: center;
    inline-size: 600px;
    overflow-wrap: break-word;
  }
  .bannerImg {
    object-fit: cover;
    width: 100%;
    height: 80vh;
  }
}

.whiteBanner {
  background-color: $primary;
  border-radius: $cornerRadius;
  padding: 12px;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    .callToAction {
      color: $textDark;
      inline-size: unset;
      margin-right: 20px;
    }
    .buttonGroup {
      display: flex;
      .buttonOne {
        border-color: $secondary;
        color: $secondary;
        background: none;
        margin-right: 10px;
      }
      .buttonTwo {
        border-color: $textDark;
        color: $primary;
        background: $textDark;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .whiteBanner {
    text-align: center;
    padding-bottom: 25px;
    .content {
      display: block;
      .buttonGroup {
        display: block;
        margin-top: 10px;
        button {
          margin-top: 10px;
        }
        .buttonOne {
          margin-right: unset;
          margin-bottom: 20px;
        }
      }
    }
  }
  .heroContentWrapper {
    p {
      inline-size: 300px;
    }
  }
}
