@import "../../../styles/mixins";

.galleryContainer {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 10rem));
  @include cardsContainers;
  .gallery {
    h2 {
      margin: 0;
      font-weight: 500;
      text-align: start;
    }
    img {
      max-width: 100%;
      border-radius: $cornerRadius;
    }
    desc {
      text-align: start;
    }
  }
}

.iconGroup {
  img {
    margin-right: 10px;
  }
}
.more {
  margin-left: auto;
  img {
    margin-left: 10px;
    vertical-align: middle;
  }
}

.cardFooter {
  display: flex;
}
.sectionHeading {
  text-align: center;
}
@media screen and (max-width: 550px) {
  .galleryContainer .gallery {
    margin: 0 auto;
    max-width: 80%;
  }
}
