h3 {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

p {
  font-size: 16px;
  inline-size: 220px;
  overflow-wrap: break-word;
}
h2 {
  font-size: 40;
  font-weight: bold;
}
span {
  font-size: 16px;
  inline-size: 20px;
  overflow-wrap: break-word;
}
