@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h3 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 300;
}

h2 {
  font-size: 40;
  font-weight: bold;
}

span {
  font-size: 16px;
}

header {
  font-size: 30px;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.cardContainer {
  -ms-grid-columns: (minmax(15rem, 20rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 100px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-top: 71px;
  padding-bottom: 100px;
}

.cardContainer .card {
  margin: 5px;
  float: left;
  width: 100%;
  max-width: 270px;
  border-radius: "10px";
  background-color: #ffff;
  -webkit-box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 6px;
}

.cardContainer .card .imageWrapper {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f4fc;
}

.galleryContainer {
  -ms-grid-columns: (minmax(25rem, 10rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 10rem));
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 100px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-top: 71px;
  padding-bottom: 100px;
}

.galleryContainer .gallery h2 {
  margin: 0;
  font-weight: 500;
  text-align: start;
}

.galleryContainer .gallery img {
  max-width: 100%;
  border-radius: 6px;
}

.galleryContainer .gallery desc {
  text-align: start;
}

.iconGroup img {
  margin-right: 10px;
}

.more {
  margin-left: auto;
}

.more img {
  margin-left: 10px;
  vertical-align: middle;
}

.cardFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionHeading {
  text-align: center;
}

@media screen and (max-width: 550px) {
  .galleryContainer .gallery {
    margin: 0 auto;
    max-width: 80%;
  }
}

.filterGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.filterGroup button {
  padding-right: 40px;
  margin-right: 10px;
  border: none;
  background: none;
}

.filterGroup.btn {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.357);
}

.filterGroup .active {
  border-bottom: 1px solid black;
}

.bannerWrapper {
  position: relative;
}

.bannerWrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.bannerWrapper .heroContentWrapper {
  position: absolute;
  color: #ffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bannerWrapper header {
  text-align: center;
}

.bannerWrapper p {
  text-align: center;
  inline-size: 600px;
  overflow-wrap: break-word;
}

.bannerWrapper .bannerImg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 80vh;
}

.whiteBanner {
  background-color: #ffff;
  border-radius: 6px;
  padding: 12px;
}

.whiteBanner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whiteBanner .content .callToAction {
  color: black;
  inline-size: unset;
  margin-right: 20px;
}

.whiteBanner .content .buttonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whiteBanner .content .buttonGroup .buttonOne {
  border-color: #e6007e;
  color: #e6007e;
  background: none;
  margin-right: 10px;
}

.whiteBanner .content .buttonGroup .buttonTwo {
  border-color: black;
  color: #ffff;
  background: black;
}

@media screen and (max-width: 720px) {
  .whiteBanner {
    text-align: center;
    padding-bottom: 25px;
  }
  .whiteBanner .content {
    display: block;
  }
  .whiteBanner .content .buttonGroup {
    display: block;
    margin-top: 10px;
  }
  .whiteBanner .content .buttonGroup button {
    margin-top: 10px;
  }
  .whiteBanner .content .buttonGroup .buttonOne {
    margin-right: unset;
    margin-bottom: 20px;
  }
  .heroContentWrapper p {
    inline-size: 300px;
  }
}

.actionbtn button {
  border-radius: 6px;
  padding: 10px;
  padding-inline: 30px;
}

.contactBtn {
  border: none;
  color: #ffff;
  background: #e6007e;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #ffff;
  color: black;
}

.navigation .Logo {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation .navigation-menu {
  margin-left: auto;
  position: relative;
  right: 30px;
}

.navigation .navigation-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navigation-menu ul li {
  list-style-type: none;
  margin: 0 1rem;
  text-decoration: none;
  display: block;
  width: 100%;
}

.navigation .navigation-menu .actionButton {
  border-radius: 6px;
  padding: 10px;
  border: none;
  color: #ffff;
  background: #e6007e;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 720px) {
  .navigation-menu {
    display: none;
  }
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
  }
  .actionButton {
    display: none;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 300;
}

h2 {
  font-size: 40;
  font-weight: bold;
}

span {
  font-size: 16px;
}

header {
  font-size: 30px;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.footerContainer {
  background-color: #efefef;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerContainer .copyRight span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footerContainer .socialIcons {
  margin-left: auto;
}

.footerContainer .socialIcons img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

@media screen and (max-width: 720px) {
  .footerContainer {
    display: block;
  }
  .footerContainer .copyRight span {
    margin: 0 auto;
  }
  .footerContainer .socialIcons {
    text-align: center;
  }
}
/*# sourceMappingURL=stylesheet.css.map */