.filterGroup {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.filterGroup button {
  padding-right: 40px;
  margin-right: 10px;
  border: none;
  background: none;
}
.filterGroup.btn {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.357);
}

.filterGroup .active {
  border-bottom: 1px solid black;
}
