@import "../../../styles/mixins";
.cardContainer {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));

  @include cardsContainers;
  .card {
    margin: 5px;
    float: left;
    width: 100%;
    max-width: 270px;
    border-radius: "10px";
    background-color: $primary;
    box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: $cornerRadius;
    .imageWrapper {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f4fc;
    }
  }
}
